* {
  margin: 0;
  padding: 0;
}

/* CSS Variables */
:root {
  --navbar-height: 59px;
}

/* Navigation Bar */
#navbar {
  display: flex;
  align-items: center;
  position: relative;
  top: 0px;
}

#navbar::before {
  /* content: ""; */
  background-color: black;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.4;
}

/* navigation bar: Logo And Image */
#logo {
  margin: 10px 34px;
}

#logo img {
  height: 59px;
  margin: 3px 6px;

}

/* navigation bar: List and Styling */

#navbar ul {
  display: flex;
  font-family: "Abril Fatface", serif;
}


#navbar ul li {
  list-style: none;
  font-size: 1.3rem;
}

#navbar ul li a {
  color: white;
  display: block;
  padding: 3px 22px;
  border-radius: 20px;
  text-decoration: none;
}

#navbar ul li a:hover {
  color: black;
  background-color: white;
  text-shadow: 3px 3px 5px #4cab95;
  box-shadow: 5px 5px 12px 5px #a92626;
}

/* Home Section */
#home {
  display: flex;
  flex-direction: column;
  padding: 3px 200px;
  height: 578px;
  justify-content: center;
  align-items: center;
}

#home::before {
  content: "";
  position: absolute;
  background: url('../bg-6.jpg') no-repeat center center/cover;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.79;

}

#home h1 {
  color: white;
  text-align: center;
  font-family: "Bree Serif", serif;
}

#home p {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Bree Serif", serif;
  text-shadow: 5px 5px 8px #33a2b3;

}

/* Services Section */
#services {
  margin: 34px;
  display: flex;
}

#services .box {
  border: 2px solid brown;
  padding: 34px;
  margin: 3px 6px;
  border-radius: 23px;
  background: #f2f2f2;
  transition: translate 4s all;
}

#services .box:hover {
  box-shadow: 5px 5px 15px 5px #a92626;
}

#services .box img {
  height: 160px;
  margin: auto;
  display: block;
}

#services .box p {
  font-family: "Bree Serif", serif;

}

.container {
  width: 80%;
  margin: 50px auto;
  padding: 20px;
}
@media screen and (max-width: 650px) {
  .box {
    width: 100%;
    display: block;
  }
}



/* About us: */


body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(180, 40, 40, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.card:hover {
  box-shadow: 5px 5px 15px 5px #a92626;
}



@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

@media n .h-primary {
  font-family: "Bree Serif",
  serif;
  font-size: 4.8rem;
  padding: 12px;
  text-shadow: 5px 5px 8px #33a2b3;
}

.h-secondary {
  font-family: "Bree Serif", serif;
  font-size: 2.3rem;
  padding: 12px;
  text-shadow: 5px 5px 8px #33a2b3;
}

.btn {
  padding: 6px 20px;
  border: 2px solid white;
  background-color: rgb(156, 118, 81);
  color: white;
  margin: 17px;
  font-size: 1.5rem;
  border-radius: 10px;
  cursor: pointer;
  transition: translate 3s all;

}

.btn:hover {
  color: blueviolet;
  background-color: aliceblue;
  box-shadow: 5px 5px 12px 5px #a92626;
}

.center {
  text-align: center;
}



